.dub
docs.json
__dummy.html
docs/
/05_core_input_gamepad
05_core_input_gamepad.so
05_core_input_gamepad.dylib
05_core_input_gamepad.dll
05_core_input_gamepad.a
05_core_input_gamepad.lib
05_core_input_gamepad-test-*
*.exe
*.o
*.obj
*.lst
